#create,
textarea {
  float: left;
  padding: 25px 25px 40px;
  margin: 0 20px 20px 0;
  width: 250px;
  height: 250px;
}

#create {
  user-select: none;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  border: 15px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  color: rgba(0, 0, 0, 0.1);
  font: 220px "Helvetica", sans-serif;
  line-height: 185px;
  margin-left: 8px;
}

#create:hover {
  border-color: rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.2);
}

textarea {
  font: 20px "Gloria Hallelujah", cursive;
  line-height: 1.5;
  border: 0;
  border-radius: 3px;
  background: linear-gradient(#f9efaf, #f7e98d);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: scroll;
  transition: box-shadow 0.5s ease;
  margin-right: 22px !important;
  max-width: 520px;
  max-height: 250px;
}
textarea:hover {
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.15);
}
textarea:focus {
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.2);
  outline: none;
}

/* Button style  */
.button {
  font: bold 16px Helvetica, Arial, sans-serif;
  color: #ffffff;
  padding: 1em 2em;
  /* background: linear-gradient(top, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.3));
  background-color: #00cc00; */
  border-radius: 3px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3),
    inset 0 -1px 2px -1px rgba(0, 0, 0, 0.5),
    inset 0 1px 2px 1px rgba(255, 255, 255, 0.3);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3);
  text-decoration: none;
  transition: transform 0.15s, background 0.01s;
}
.button:hover {
  /* background-color: #00ee00; */
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.3),
    inset 0 -1px 2px -1px rgba(0, 0, 0, 0.5),
    inset 0 1px 2px 1px rgba(255, 255, 255, 0.3);
}
.button:active {
  /* background: linear-gradient(bottom, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.3));
  background-color: #00cc00; */
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3), 0 -1px 0 rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3),
    inset 0 -1px 2px rgba(255, 255, 255, 0.3);
  outline: none;
}
.button.remove {
  position: absolute;
  top: 5px;
  right: 26px;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #e01c12;
  padding: 10px;
  border-color: #b30000;
  font-weight: bolder;
  font-family: Helvetica, Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}
.button.remove:hover {
  background-color: #ef0005;
}
.opacity {
  filter: opacity(0.4);
}
.noColor {
  background-color: transparent !important;
  border: none !important;
  width: 39px !important;
  height: 39px !important;
  box-shadow: none;
}
.noColor:hover {
  box-shadow: none !important;
}
.noColor img:hover {
  width: 34px !important;
  transition: all 0.6s ease-in-out;
}

/* Tooltip */

.infoEraser:hover .tooltip {
  color: red;
  visibility: visible;
  opacity: 1;
  transition: opacity 1s;
}
.tooltip {
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s;
}

.tooltip:hover {
  visibility: visible;
}

.infoEraser {
  cursor: help;
}
.tooltipEraser {
  position: absolute;
  left: -115px;
  background: rgba(255, 255, 255, 0.5);
  padding: 7px;
  border-radius: 7px;
  box-shadow: 0 0 4px grey;
}
