.time-tracker {
  font-family: sans-serif;
  text-align: center;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.time-tracker {
  color: black;
  border-bottom: 4px solid whitesmoke;
  background-color: rgb(85 4 135);
  color: white;
}
.trackTimeTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 150px;
}
.time-tracker h2,
.time-tracker > .trackTimeTitle > h1 {
  color: white;
  margin-bottom: 0;
  font-size: 18px;
}
.time-tracker button {
  color: black;
}
.indicator-section > .status-indicator {
  width: 22px;
  height: 22px;
  text-align: center;
  border-radius: 50%;
  margin-left: 5px;
  margin-right: 15px;
}
.indicator-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.button {
  display: inline-block;
  *display: inline;
  zoom: 1;
  padding: 6px 20px;
  margin: 0;
  cursor: pointer;
  border: 1px solid #bbb;
  overflow: visible;
  font: bold 13px arial, helvetica, sans-serif;
  text-decoration: none;
  white-space: nowrap;
  color: #555;
  background-color: #ddd;
  transition: background-color 0.2s ease-out;
  background-clip: padding-box; /* Fix bleeding */
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3), 0 2px 2px -1px rgba(0, 0, 0, 0.5),
    0 1px 0 rgba(255, 255, 255, 0.3) inset;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3),
    0 2px 2px -1px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3), 0 2px 2px -1px rgba(0, 0, 0, 0.5),
    0 1px 0 rgba(255, 255, 255, 0.3) inset;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.button:hover {
  background-color: #eee;
  color: #555;
}

.button:active {
  background: #e9e9e9;
  position: relative;
  top: 1px;
  text-shadow: none;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3) inset;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3) inset;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3) inset;
}

.button[disabled],
.button[disabled]:hover,
.button[disabled]:active {
  border-color: #eaeaea;
  background: #fafafa;
  cursor: default;
  position: static;
  color: #999;
  filter: contrast(0.4);
  /* Usually, !important should be avoided but here it's really needed :) */
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  text-shadow: none !important;
}

/* Smaller buttons styles */

.button.small {
  padding: 4px 12px;
}

/* Larger buttons styles */

.button.large {
  padding: 12px 30px;
  text-transform: uppercase;
}

.button.large:active {
  top: 2px;
}

/* Colored buttons styles */

.button.green,
.button.red,
.button.blue {
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

.button.green {
  background-color: #57a957;
  border-color: #57a957;
}

.button.green:hover {
  background-color: #62c462;
}

.button.green:active {
  background: #57a957;
}

/* */

.button.red {
  background-color: #ca3535;
  border-color: #c43c35;
}

.button.red:hover {
  background-color: #ee5f5b;
}

.button.red:active {
  background: #c43c35;
}

/* */

.button.blue {
  background-color: #269ce9;
  border-color: #269ce9;
}

.button.blue:hover {
  background-color: #70b9e8;
}

.button.blue:active {
  background: #269ce9;
}

/* */

.green[disabled],
.green[disabled]:hover,
.green[disabled]:active {
  border-color: #57a957;
  background: #57a957;
  color: #d2ffd2;
}

.red[disabled],
.red[disabled]:hover,
.red[disabled]:active {
  border-color: #c43c35;
  background: #c43c35;
  color: #ffd3d3;
}

.blue[disabled],
.blue[disabled]:hover,
.blue[disabled]:active {
  border-color: #269ce9;
  background: #269ce9;
  color: #93d5ff;
}
.button-group {
  justify-content: space-between;
  width: 14%;
  display: flex;
}
.heartbeat {
  animation: heartbeat 1.5s ease-in-out infinite both !important;
}

@keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}

.vibrate-1 {
  animation: vibrate-1 0.3s linear infinite both;
}
@keyframes vibrate-1 {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, 2px);
  }
  80% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}

.button-group > button {
  margin-right: 5px;
}

.redColor {
  color: #ff0000 !important;
}
.time-lapse {
  padding: 20px;
}
